/Topics/
/course-remote-info.yaml
/build.gradle
/Battleship/Fog of war/
/Battleship/Friend or foe/
/Battleship/Take position_/
/Battleship/task/build/
/Battleship/task/out/
/Battleship/The end of the war/
/Battleship/The first shot/
/Battleship/lesson-info.yaml
/settings.gradle
/gradlew.bat
/gradlew
